<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.blokbase.pos">

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/app_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.PoS"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activity.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.RegisterActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.ForgetPasswordActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.SetPasswordActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.WalletDetailActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.WalletAddressActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.WalletTransferActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.WalletRecordActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.MineActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.NoticeListActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.InviteActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.SecurityActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.GoogleVerifyActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.ServiceHelpActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.AboutUsActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.LanguageActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.ObserverActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.AddObserverActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.AddCollectionActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.ObserverLinkActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.ObserverPermissionRecordActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.ChainDataActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.CalculatorActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.InputGoogleCodeActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.FAQActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.FAQContentActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.FreezeListActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.PoolNodeRankActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.LockIncomeRecordActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.ProtocolActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.AssetsRecordDetailActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.PosrLinkActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
    </application>

</manifest>