<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.blokbase.pos">

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/app_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.PoS"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activity.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.RegisterActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.ForgetPasswordActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.SetPasswordActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.WalletDetailActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.MoreGoodsActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.WalletAddressActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.WalletTransferActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.WalletRecordActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.NoticeListActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.WalletExchangeActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.InviteRecordActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.IncomeRecordActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.SecurityActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.ProxyApplyActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.ProxyDetailActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.InviteActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.ContactServiceActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.ProtocolActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.AssetsRecordDetailActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.AccountListActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.SwitchAccountActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.AddressListActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.AddAddressActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.SelectCityActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.GoodsDetailActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.OrderPayActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.OrderTrackingActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.DataPreviewActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.DataDetailActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.CheckInActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
    </application>

</manifest>